<!DOCTYPE html>
<html>
<head>
    <title>Select Your Location - Fire Evacuation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Select Your Current Location</h2>
        <!-- <form method="post" action = "/result">
            <label for="start">Choose a room:</label><br>
            <select name="start" id="start" required>
                {% for room in rooms %}
                    <option value="{{ room }}">{{ room }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit">Select Location</button>
        </form> -->

        <form method="post" action="/result">
            <label for="select_location">Choose a room:</label><br>
            <select name="select_location" id="select_location" required>
                {% for room in rooms %}
                    <option value="{{ room }}">{{ room }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit">Select Location</button>
        </form>
        

    </div>
</body>
</html>
